# Ignorar dependências
node_modules/

# Ignorar informações de autenticação
.wwebjs_auth/

# Ignorar logs e arquivos temporários do sistema
*.log
*.tmp

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de compilação se aplicável (por exemplo, se main.js for gerado automaticamente)
# /dist/
# /build/
# main.js